<<<<<<< HEAD
html {
  margin:0;
  padding:0;
}

section {
  width: 1000px;
  margin: auto;
}
body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #DCDCDC	;
  margin: 0;
  padding: 0;
  }


navbar {
  text-align: center;
  color: lightgray;
  position: fixed;
  top: 0; 
  width: 100%;
  padding-top:8px;
  padding-bottom:14px;
  background-color: #404253;
}
a:link{
  text-decoration:none;
  color:#ABB2F0;
}
a:visited{
  text-decoration: none;
  color: #ABB2F0;
}
h1 {
  font-family: 'Noto Sans JP', sans-serif;
  color: #4CAF50;
font-size: 50px;
}

button { 
  background-image: url( "nightmode.png"); 
  background-size: cover; 
  width: 300px; 
  height: 200px; 
  font-size: 2rem; 
} 
=======
html {
  margin:0;
  padding:0;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #DCDCDC	;
  margin: 0;
  padding: 0; 
  }
section {
    width: 1000px;
    margin: auto;
  }

navbar {
  text-align: center;
  color: lightgray;
  position: fixed;
  top: 0; 
  width: 100%;
  padding-top:8px;
  padding-bottom:14px;
  background-color: #404253;
}
a:link{
  text-decoration:none;
  color:#ABB2F0;
}
a:visited{
  text-decoration: none;
  color: #ABB2F0;
}
a:hover {
  color:white;
}
h1 {
  font-family: 'Noto Sans JP', sans-serif;
  color: #4CAF50;
font-size: 50px;
}

button {
background-color: #4CAF50; /* Green */
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}     
>>>>>>> 27ec4b0560b72216e3dda104034d740058ba6d43
