html {
  margin:0;
  padding:0;
}

section {
  width: 1000px;
  margin: auto;
}
body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #DCDCDC	;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  }


.navbar {
  position: fixed;
  top: 0; 
  width: 100%;
  padding-top:8px;
  padding-bottom:14px;
  background-color: #222222;
  border-style: solid;
  border-color: rgb(146, 104, 33);
  margin-bottom:1px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
}
.navbar a:link{
  text-decoration:none;
  color:#dd993f;
}
.navbar a:visited{
  text-decoration: none;
  color: #dd993f;
}

